@import '../../scss/base.scss';

.pageWrapper {
  display: flex;
  flex-direction: column;
  margin: $no-margin auto;
  padding: $padding-20;
  width: $full;
  height: $full;
  box-sizing: border-box;
  background-color: $background-color;

  // Tablet styles
  @media screen and (max-width: $tablet-breakpoint) {
    padding: $padding-15;
  }

  // Mobile styles
  @media screen and (max-width: $mobile-breakpoint) {
    padding: $padding-15;
  }
}
